<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>socket_io</title>        
        <script src="https://cdn.socket.io/3.0.3/socket.io.js"></script>
    </head>

    <body>
        <ul>        
        </ul>

        <input placeholder="Message">
        <button onclick="sendMsg()">Send</button>

        <script>
            const socket = io('ws://localhost:8080');
            socket.on('connection');

            // Receive
            socket.on('message', data => {
                const _li = document.createElement('li');
                _li.innerHTML = data;
                document.querySelector('ul').appendChild(_li)
            });

            // Send
            const sendMsg = () => {                
                const data = document.querySelector('input').value;
                socket.emit('message', data)
            }
        </script>

    </body>
</html>